<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <h1>Registrasi</h1>
        <form action="/items" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_autenticity_token %>">
            <input type="name" name="regis[name]" placeholder="name">
            <input type="email" name="regis[email]" placeholder="email">
            <input type="password" name="regis[password]" placeholder="password">
            <input type="password" name="regis[password_confirmation]" placeholder="password_confirmation">
            <input type="submit" name="submit" class="submit">
        </form>
    </body>
</html>