<!DECTYPE html>
<html>
    <head>
        <title>tampilan awal</title>
    </head>
    <body>
        <div class="index blog">
            <div class="navigasi">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <div class="navbar-logo">
                            
                        </div>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                <li><a href="home">Home</a></li>
                                <li><a href="news">News</a></li>
                                <li><a href="producs">Producs</a></li>
                                <li><a href="features">Features</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="background-page">
                    <div class="container description-banner">
                        <div class="row">
                            <div class="col-md-8 desc" id="text">
                                <h2 class="bold">THERE'S NO NOTHING</h2>
                                <p id="nothing-text">
                                    on this web is notting for you, because this page just for my study,
                                    on rails, and i make this page with references on .....
                                </p>
                            </div>
                            <div class="col-md 4" id="xbanner">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="features">
                <div class="container clearfyx my-lg-4">
                    <h4 class="text-center">THERE IS NOTHING FEATURES</h4>
                    <div class="row no-gutters p-md-5 p-2">
                        <div class="col-md-4 col-12 px-2"  id="text">
                            <div class="text-center">
                                
                            </div>
                            <p mt-3 categories-category-text>every day we bring information free book for you</p>
                        </div>
                        <div class="col-md-4 col-12 px-2" id="text">
                            <div class="text-center">
                                
                            </div>
                            <p mt-3 categories-category-text>we have more user and you one of the lucky human in this word</p>
                        </div>
                        <div class="col-md-4 col-12 px-2" id="text">
                            <div class="text-center">
                                
                            </div>
                            <p mt-3 categories-category-text>if you have new ideas or new features for this web cammon join with as</p>
                        </div>
                        <div class="col-md-4 col-12 px-2" id="text">
                            <div class="text-center">
                                
                            </div>
                            <p mt-3 categories-category-text>you have to becareful, bacause anyone can fraud of you</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="news" style="background-color:cyan;">
                <div class="container clearfyx my-lg-4">
                    <div class="row">
                        <div class="col-md 4" id="xbanner">
                            
                        </div>
                        <div class="container nothing-new-info">
                        <h4 class="text-center">THERE IS NOTHING NEWS</h4>
                            <p id="nothing-text">
                                on this web is notting for you, because this page just for my study,
                                on rails, and i make this page with references on .....
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="producs">
                
            </div>
        </div>
    </body>
</html>